<div class="category-list">
{% for t in types %}
<div>
  <h3>{{ t }}</h3>
  {% assign collection = collections[t] | reverse %}

  <div class="category-list-projects">
  {%- for p in collection -%}
    <div class="category-list-project">
      {%- if use-featured -%}
      {%- assign featured = p.data.featured -%}
      {%- include featured -%}
      {%- endif -%}
      <h4 class="project-title"><a href="{{ p.url | url}}">{{ p.data.title }}</a></h4>
      <p class="project-description">{{ p.data.description }}</p>
    </div>
  {%- endfor -%}
  </div>
</div>
{% endfor %}
</div>
