<div class="featured">
{% for f in featured %}
  {% if f.template == "gallery" %}
  {% assign images = f.images %}
  {% include gallery %}

  {% elsif f.template == "youtube" %}
  {% assign video_id = f.video_id %}
  {% include youtube %}


  {% elsif f.template == "audio" %}
  {% assign audio = f.audio %}
  {% include audio %}

  {% elsif f.template == "quote" %}
  {% assign quote = f.content %}
  {% include quote %}

  {% else %}
  {{ f.content }}
  {% endif %}

{% endfor %}

</div>
