<div class="featured">
{% for f in featured %}
  {% if f.template == "gallery" %}
  {% assign images = f.images %}
  {% include gallery %}
  {% endif %}

  {% if f.template == "youtube" %}
  {% assign video_id = f.video_id %}
  {% include youtube %}
  {% endif %}

  {% if f.template == "audio" %}
  {% assign audio = f.audio %}
  {% include audio %}
  {% endif %}

{% endfor %}

</div>
