---
layout: base
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---

<main>


  {% for post in posts %}
    {% if post.data.layout == "blog" %}
    {% include blog-content %}
    {% else %}
    {% include post-content %}
    {% endif %}
  {% endfor %}

  {% include footer %}

</main>
