<form  class="post-subscribe-form" action="https://tinyletter.com/dainsaint" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/dainsaint', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <input name="email" id="tlemail" placeholder="enter your email address"/>
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="subscribe" style="color: {{ color }}"/>
</form>

<div class="message-archive"><a href="https://tinyletter.com/dainsaint/archive">view old newsletters</a></div>
