<div class="post-subscribe">
  <h3 class="project-header">Subscribe for Updates</h3>
  <p>
    I send a weekly newsletter with updates from my <a href="{{ '/about' | url }}">garden</a>. No spam.
  </p>

  <div class="post-subscribe-form">
    <input/>
    <button>subscribe</button>
  </div>

</div>
