{% if posts.size > 0 %}
<p>&nbsp;</p>
<div class="post-content">
  <h3 class="project-header">contents</h3>

  <div class="">
    {% for post in posts %}

    <a href="#{{ post.title | slug }}">{{ post.title }}</a><br/>
    {% endfor %}
  </div>

</div>
{% endif %}
