:root
{
  --dark: #062535;
  --dark-alpha: #06253520;
  --light: #f7ede2;
  --light-alpha: #f7ede220;
}

h1, h2, h3, h4
{
  padding: 0px;
  margin: 0px;
}

h2
{
  font-size: 1.3em;
  margin-bottom: .3em;
}

hr
{
  border: none;
  border-bottom: 1px solid var(--dark);
}

html
{
  background: #333;
}

body
{
  background: #121212;
  font-family: "Spectral", serif;
  padding: 0px;
  margin: 0px;
  font-size: 21px;
  line-height: 28px;
  color: var(--dark);
}


a
{
  color: var(--dark);
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

img.actual
{
  width: auto;
  margin: 0px auto;
}



.hero-image
{
  height: 40vh;
  background: center center no-repeat;
  background-size: cover;
}
.header-main
{

  padding: 24px 0px;
  box-sizing: border-box;
  /* position: fixed; */
  width: 100%;
  /* z-index: 1; */
  position: absolute;
}

.header-main.promo
{
  position: static;
  border-bottom: 1px solid var(--dark-alpha);
}

.header-main a
{

}

.header-main hr
{
  margin: 20px 0px;
}


.header-content
{
  width: 800px;
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.header-nav
{

}

.header-nav a
{

  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
}

.header-nav a.active
{
  border-bottom: 2px solid var(--dark);
}


.header-main .title
{
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.header-main .tagline
{
  font-size: 16px;
  font-style: italic;
  white-space: nowrap;
}

.header-nav a:hover
{
  border-bottom: 4px solid var(--dark);
}

.post
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post.full
{
  min-height: 105vh;

}

.post:nth-of-type(5n+5)
{
  background: #f6bd60;
}

.post:nth-of-type(5n+2)
{
  background: var(--light);
}

.post:nth-of-type(5n+3)
{
  background: #f5cac3;
}

.post:nth-of-type(5n+4)
{
  background: #84a59d;
}

.post:nth-of-type(5n+1)
{
  background: #f28482;
  /* background: var(--light); */
}

.post-main
{
  padding: 200px 8px;
  flex: 1 1 auto;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 90%;
  /* padding: 12px; */
  /* border: 1px solid blue; */
}

.post-body
{
  display: flex;

  /* display: grid; */
  /* grid-template-columns: 98px auto; */
}

.group
{
  padding-bottom: 10px;
}

.featured
{
  margin-bottom: 45px;
}

.gallery
{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 8px;
  max-width: 100%;
}

.gallery .gallery-image
{
  width: 100%;
  height: 300px;
  background: center center no-repeat;
  background-size: cover;
}

.post-meta
{
  flex: 0 0 auto;
  width: 98px;
  margin-top:15px;
  font-family: 'Questrial', sans-serif;
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: right;
  border-top: 6px solid var(--dark);
  padding-top: 8px;
  margin-right: 16px;
}

.post-meta-deco
{
  margin-top: 8px;
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  height: 100%;
  background: url('../img/deco/elevation.png') top center no-repeat;
  background-size: auto 500px;
}


.deco-flower
{
  /* background-image: url('../img/deco/flower.png'); */
  /* background-size: auto 500px; */

}

.post-header
{
  font-size: 24px;
  margin-bottom: 0px;
}

.post-header a
{
  text-decoration: none;
}

.post-content-text
{
  margin-top: .5em;
}

.post-content p
{
  margin-bottom: 16px;
}

.post-content p:last-child
{
  margin-bottom: 0px;
}

.post-project
{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.post-project a
{
  font-style: italic;
}

hr
{
  margin: 32px 0px;
}

.post-permalink
{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.post-subscribe
{
  margin-top: 72px;
}

.post-subscribe-form input
{
  margin-bottom: 12px;
}

p img
{
  margin: 15px 0px;
}



/*
*
*
* PROJECT
*
*/

.project-intro
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-bottom: 45px;
}


.project-info
{
  /* max-width: 50%; */
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 8px;
  flex: 2 1 300px;
  padding-bottom: 20px;
}

.project-intro > *
{
  /* border: 1px solid blue; */
}


.project-title
{
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.project-description
{
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
}

.project-status
{
  /* width: 40%; */
  flex: 0 1 300px;
}

.project-status p > a
{
  display: block;
  font-style: italic;
  font-size: 16px;
}


h3
{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.category-list .project-title
{
  font-size: 24px;
  line-height: 24px;
}

.category-list .category-list-projects
{

  margin-bottom: 100px;
}

.category-list .category-list-projects .category-list-project
{
  margin-bottom: 30px;
}

.category-list .category-list-projects .category-list-project .featured
{
  margin-bottom: 20px;
}

.pagination-block
{
  /* max-width: 609px; */
  /* width: 800px; */
  margin-bottom: 60px;
}

.pagination-block nav
{
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;

}

.pagination-block a
{
  text-decoration: none;
  text-transform: uppercase;

}

.random-block
{
  /* text-align: center; */
}


.footer
{
  padding: 200px 0px;

}


@media (min-width: 800px)
{
  .project-posts.grid
  {
    display: flex;
    flex-wrap: wrap;
  }

  .project-posts.grid > *
  {
    flex: 1 1 10px;
  }

  .category-list .category-list-projects
  {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat( auto-fit, minmax(40%, 1fr) );



  }

  .post-subscribe-form
  {
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 8px;
    margin: 8px 0px;
  }


}


/*
*
*
* button
*
*/


input
{
  background: none;
  border: 1px solid var(--dark);
  font-size: 14px;
  height: 42px;

  box-sizing: border-box;
  width: 100%;
  padding: 0px 16px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  border-radius: 4px;
}

::placeholder
{
  font-weight: 300;
  color: var(--dark);
  opacity: 1;
}

button, input[type=submit], .shopify-buy__btn
{
  background: var(--dark);
  color: var(--background);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  height: 42px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
   -webkit-appearance: none;
}

button:hover, input[type=submit]:hover
{
  background: #000;
}



/*
*
*
* audio
*
*/

.audio
{
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
}


.audio-content
{
  width: 100%;
}


.post-social-block
{
  display: flex;
}

.post-social-spacer
{
  width:135px;
}

.social
{
  display: flex;
  align-items: center;
  /* border-top: 1px solid var(--dark); */
  padding-top: 5px;
  margin-top: 30px;
  width: 100%;
}

.light .social
{
  border-color: var(--light);
}

.social a
{
  font-size: 16px;
  margin-right: 20px;
}

.social a *
{
  pointer-events: none;
}

.social .message
{
  display: none;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--dark);
  padding: 5px;
  line-height: 10px;
}

.light .social .message
{
  background: var(--light);
}

.social.message-visible .message
{
  display: block;
}

.quote
{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 48px;
}

.quote strong
{
  text-transform: none;
  font-family: "Elgraine Black Italic";
  font-weight: normal;
  font-size: 48px;
}

.quote::after
{
  content: "";
  border-bottom: 2px solid var(--dark);
  display: block;
  margin: 20px auto;
  max-width: 100px;
}

.promo
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo > *
{
  flex-grow: 0;
  flex-shrink: 0;
}

.youtube
{
  margin: 15px 0px;
}


ul.grid
{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: minmax(50%,auto) minmax(50%,auto); */
  grid-auto-flow: row dense;
}

ul.grid li.full
{
  grid-column: 1 / span 2;
}

ul.grid li img
{
  width: fit-content;
}


.buttons
{
  display: flex;
  flex-wrap: wrap;
}

.buttons li
{
  margin-right: 10px;
  margin-bottom: 10px;
}

.buttons li a, .shopify-buy__btn 
{
  text-decoration: none;
  background: var(--dark);
  color: var(--background);

  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 10px;
  display: block;
  white-space: nowrap;
}

.light .buttons li a
{
  background: var(--light);
  color: var(--background);
}


.light .quote::after
{
  border-color: var(--light);
}


.light
{
  color: var(--light);
}

.light a
{
  color: var(--light);
  border-color: var(--light);
}

.light a.active
{
  border-color: var(--light);
}

.light a:hover
{
  border-color: var(--light);
}

.light button, .light input[type=submit]
{
  background: var(--light);
  color: var(--background);
}

.light ::placeholder
{
  color: var(--light);
}

.light input
{
  border-color: var(--light);
  color: var(--light);
}


.light hr
{
  border-color: var(--light);
}

.light .post-meta
{
  border-color: var(--light);
}

.light .post-meta-deco
{
  filter: invert(100%) brightness(120%);
}

.light.header-main.promo
{
  border-color: var(--light-alpha);
}



@media (max-width: 450px)
{
  .post-meta
  {
    width: 45px;
  }

  body
  {
    font-size: 18px;
    /* line-height: 20px; */
  }

  .post-header
  {
    font-size:21px;
  }

  .quote
  {
    line-height: 30px;
  }

  .quote strong
  {
    font-size: 30px;
  }

  .post-social-spacer
  {
    width: 70px;
  }

  .post-main
  {
    padding: 100px 8px;
  }


}

@media (max-width: 320px)
{
  .post-meta
  {
    display: none;
  }

  .post-social-spacer
  {
    width:0px;
  }

  .header-main
  {
    position: static;
    border-bottom: 1px solid var(--dark-alpha);
  }

  .light.header-main
  {
    border-color: var(--light-alpha);
  }
}
