h1, h2, h3, h4
{
  padding: 0px;
  margin: 0px;
}


hr
{
  border: none;
  border-bottom: 1px solid black;
}

html
{
  background: #333;
}

body
{
  background: #333;
  font-family: "Spectral", serif;
  padding: 0px;
  margin: 0px;
  font-size: 21px;
  line-height: 28px;
  color: #062535;
}

a
{
  color: #062535;
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header-main
{
  background: #152223;

  padding: 12px;
  box-sizing: border-box;
  /* position: fixed; */
  width: 100%;
  /* z-index: 1; */
}

.header-main .title
{
  font-size: 24px;
  color: #EEE;
  font-weight: bold;
  text-decoration: none;
}

.header-main .title:hover
{
  text-decoration: underline;
}

.post
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post.full
{
  min-height: 100vh;

}

.post:nth-of-type(5n+5)
{
  background: #f6bd60;
}

.post:nth-of-type(5n+2)
{
  background: #f7ede2;
}

.post:nth-of-type(5n+3)
{
  background: #f5cac3;
}

.post:nth-of-type(5n+4)
{
  background: #84a59d;
}

.post:nth-of-type(5n+1)
{
  background: #f28482;
}

.post-main
{
  padding: 200px 8px;
  flex: 1 1 auto;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 90%;
  /* padding: 12px; */
  /* border: 1px solid blue; */
}

.post-body
{

  display: grid;
  grid-template-columns: 98px auto;
}

.featured
{
  margin-bottom: 45px;
}

.gallery
{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
  max-width: 100%;
}

.gallery img
{
  width: 100%;
}

.post-meta
{
  margin-top:15px;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: right;
  border-top: 6px solid #062535;
  padding-top: 8px;
  margin-right: 8px;
}

.post-meta-deco
{
  margin-top: 8px;
  width: 100%;
  min-height: 120px;
  max-height: 500px;
  height: 100%;
  background: url('../img/deco-elevation.png') center center no-repeat;
}

.post-header
{
  font-size: 24px;
}

.post-content-text
{
  margin-top: 45px;
}

.post-content p
{
  margin-bottom: 16px;
}

.post-project
{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.post-project a
{
  font-style: italic;
}

hr
{
  margin: 32px 0px;
}

.post-permalink
{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.post-subscribe
{

}

.post-subscribe-form
{
  display: grid;
  grid-template-columns: auto 200px;
  grid-gap: 8px;
  margin: 8px 0px;
}




/*
*
*
* PROJECT
*
*/

.project-intro
{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 45px;
}


.project-info
{
  max-width: 50%;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 8px;
}

.project-title
{
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.project-description
{
  font-style: italic;
  font-weight: 100;
  font-size: 24px;
}

.project-status
{
  width: 40%;
}

.project-header, .project-body h3
{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 21px;
}

/*
*
*
* button
*
*/


input
{
  background: none;
  border: 1px solid #062535;
  font-size: 14px;
  height: 42px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 16px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

button
{
  background: #062535;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  height: 42px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}


/*
*
*
* audio
*
*/

.audio
{
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
}


.audio-content
{
  width: 100%;
}
