.preview-frames
{
  background: #FFF;
  padding: 20px;

  border-bottom: 1px solid #DCDCDC;

}

.preview-frames .row
{
  display: flex;
  flex-wrap: wrap;
}

.preview-frames .frame
{
  width: 1024px;
  height: 1024px;
  display: block;
}

.preview-frames .scale .frame
{
    position: absolute;
    transform-origin: top left;
  transform: scale(.25);
  top: 0px;
  left: 0px;
}

.preview-frames .scale
{
  /* border: 1px solid red; */
  position: relative;
  width: 256px;
  height: 256px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.download
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,.5);
  cursor: pointer;
  opacity: 0;
  transition: opacity .2s;
}

.download:hover
{
  opacity: 1;
}

.download i
{
  font-size: 48px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}

.loadingIndicator
{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,.9);
  display: none;
  /* cursor: pointer; */
}

.loading .loadingIndicator
{
  display: block;
}

.loadingIndicator i
{
  font-size: 48px;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  color: #FFF;
}


/*

.preview-frames .frame
{
  width: 1024px;
  height: 1024px;

  margin: -256px;
  flex: 0 0 auto;
  margin-right: -236px;
  margin-bottom: -236px;
} */


.preview-frames .frame .post.full
{
  min-height: inherit;
  height: 100%;
  overflow: hidden;
  position: relative;
}


.preview-frames .frame .post-header
{
  font-size: 36px;
}

.preview-frames .frame .post-body
{
  font-size: 36px;
  line-height: 38px;
  position: relative;
}


.preview-frames .frame .post-handle
{
  font-size: 24px;
}
.preview-frames .frame .poem .post-handle
{
  position: absolute;
  top: 120%;
}

.preview-frames .frame .post-quote .post-handle
{
  position: relative;
  top: 50px;
}

.preview-frames button, .preview-frames .buttons li a
{
  width: max-content;
  white-space: nowrap;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: normal;
  padding: 10px 20px;
  box-sizing: border-box;
  display: inline;
}

.preview-frames .frame .post-quote
{
  text-align: center;
}

.preview-frames .frame .post-quote .buttons
{
  margin: 0px auto;
}

.preview-frames .frame .post-meta
{
  width: 90px;
}

.preview-frames .quote::after
{
  display: none;
}

.post-quote .post-handle
{
  position: static;
}


.preview-frames .quote
{
  font-size: 48px;
  max-width: 90%;
  margin: 0px auto;
}

.preview-frames .quote strong
{
  font-size: 100px;
  line-height: 200px;
}

.post-meta
{
  border-top-width: 10px;
}


.continued .post-meta
{
  position: relative;
  left: 105px;
}

.continued
{
  position: relative;
  left: -50px;
}


.post-more
{
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.scale:last-child .post-more
{
  display: none;
}


.prompt-header
{
  font-family: "Raleway";
  font-weight: 900;
  letter-spacing: 8px;
  font-size: 30px;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--dark);
  margin-bottom: 20px;
}

.post-prompt
{
  font-size: 48px;
  line-height: 48px;
}

.post-prompt strong
{
  font-family: "Elgraine Black Italic";
  font-size: 100px;
  line-height: 120px;
}

.post-prompt .post-handle
{
  position: absolute;
  bottom: 112px;
  left: 112px;
}
