h1, h2, h3, h4
{
  padding: 0px;
  margin: 0px;
}


hr
{
  border: none;
  border-bottom: 1px solid black;
}

body
{
  font-family: "Spectral", serif;
  background: white;
  padding: 0px;
  margin: 0px;
}




.post.full
{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.post.full:nth-of-type(5n+1)
{
  background: #f6bd60;
}

.post.full:nth-of-type(5n+2)
{
  background: #f7ede2;
}

.post.full:nth-of-type(5n+3)
{
  background: #f5cac3;
}

.post.full:nth-of-type(5n+4)
{
  background: #84a59d;
}

.post.full:nth-of-type(5n+5)
{
  background: #f28482;
}

.post-main
{
  flex: 1 1 auto;
  max-width: 800px;
  margin: 400px auto;
  display: grid;
  grid-template-columns: 90px auto;
}

.post-meta
{
  margin-top:15px;
  width: 90px;
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  text-align: right;
  border-top: 6px solid black;
  padding-top: 8px;
  flex: 1 1 auto;
}

.post-meta-deco
{
  margin-top: 8px;
  width: 100%;
  min-height: 120px;
  max-height: 500px;
  height: 100%;
  background: url('../img/deco-elevation.png') center center no-repeat;
}


.post-content
{
  margin-left: 8px;
  flex: 1 1 auto;

  font-size: 16px;
  line-height: 28px;
}

.post-project
{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.post-project a
{
  font-style: italic;
}
