---
layout: base
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---

<main>


  {% for post in posts %}
    {% include post-content %}
  {% endfor %}

  {% include footer %}

</main>
